<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rediger Kunde</title>
  <link rel="stylesheet" th:href="@{/css/headerFooter.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="dashboard-layout">
  <div class="sidebar">
    <a th:href="@{/kunder}" class="sidebar-button active">Kundeoversigt</a>
    <a th:href="@{/opret}" class="sidebar-button">Opret kunde</a>
  </div>

  <div class="form-container">
    <h1>Rediger kunde</h1>
    <form th:action="@{/kunder/rediger}" th:object="${kundeModel}" method="post">
      <input type="hidden" th:field="*{kundeID}">

      <label>Navn:</label>
      <input type="text" th:field="*{navn}" required>

      <label>Email:</label>
      <input type="email" th:field="*{email}" required>

      <label>Adresse:</label>
      <input type="text" th:field="*{adresse}" required>

      <label>Telefon:</label>
      <input type="text" th:field="*{tlfNr}" required>

      <label>Fødselsdato:</label>
      <input type="date" name="foedselsdato" th:value="${kundeModel.foedselsdato}">

      <button type="submit" class="nav-button">Gem ændringer</button>
    </form>
  </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>